/.metadata/
StackOverFlow/.classpath
.project
StackOverFlow/.classpath
StackOverFlow/.classpath
StackOverFlow/.classpath
StackOverFlow/.classpath
WebApp/stackoverflow/node_modules
StringToInt/bin/module-info.class
testAutoQ/.idea/aws.xml
testAutoQ/.idea/StackInTheFlow-profile.xml
testAutoQ/.idea/vcs.xml
testAutoQ/.idea/workspace.xml
testAutoQ/bin/.idea/aws.xml
testAutoQ/bin/.idea/StackInTheFlow-profile.xml
testAutoQ/bin/.idea/vcs.xml
testAutoQ/bin/.idea/workspace.xml
