<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="StackOverFlow.commands.QuickSearchCategory"
            name="QuickSearch Category">
      </category>
      <command
            categoryId="StackOverFlow.commands.QuickSearchCategory"
            name="QuickSearch Command"
            id="StackOverFlow.commands.QuickSearchCommand">
      </command>
      <command
            categoryId="StackOverFlow.commands.SearchCategory"
            id="StackOverFlow.commands.SearchCommand"
            name="Search Command">
      </command>
      <category
            id="StackOverFlow.commands.SearchCategory"
            name="Search Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="stackoverflow.handlers.QuickSearchHandler"
            commandId="StackOverFlow.commands.QuickSearchCommand">
      </handler>
      <handler
            class="stackoverflow.handlers.SearchHandler"
            commandId="StackOverFlow.commands.SearchCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="StackOverFlow.commands.QuickSearchCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="StackOverFlow.commands.SearchCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlow"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.QuickSearchCommand"
                  id="StackOverFlow.menus.QuickSearchCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.QuickSearchToolbar">
            <command
                  id="StackOverFlow.toolbars.QuickSearchCommand"
                  commandId="StackOverFlow.commands.QuickSearchCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlow"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.SearchCommand"
                  id="StackOverFlow.menus.SearchCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.SearchToolbar">
            <command
                  commandId="StackOverFlow.commands.SearchCommand"
                  icon="icons/sample.png"
                  id="StackOverFlow.toolbars.SearchCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.SearchResultView"
            icon="icons/sample.png"
            id="stackoverflow.ViewAndDialog.SearchResultView"
            inject="true"
            name="SearchResult View">
      </view>
      <category
            id="StackOverFlow"
            name="StackOverFlow Category">
      </category>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.ContentView"
            icon="icons/sample.png"
            id="stackoverflow.ViewAndDialog.ContentView"
            inject="true"
            name="Content View">
      </view>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.TestView"
            icon="icons/sample.png"
            id="stackoverflow.ViewAndDialog.TestView"
            inject="true"
            name="Test View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.SearchResultView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.ContentView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.TestView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
