<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="StackOverFlow.commands.StackOverFlowCategory"
            id="StackOverFlow.commands.SearchCommand"
            name="Search from Stack">
      </command>
      <category
            id="StackOverFlow.commands.StackOverFlowCategory"
            name="StackOverFlowCategory">
      </category>
      <command
            categoryId="StackOverFlow.commands.StackOverFlowCategory"
            id="StackOverFlow.commands.FavoriteCommand"
            name="Favorite Question">
      </command>
      <command
            categoryId="StackOverFlow.commands.StackOverFlowCategory"
            id="StackOverFlow.commands.OfflineCommand"
            name="Offline Storage">
      </command>
      <command
            categoryId="StackOverFlow.commands.StackOverFlowCategory"
            id="StackOverFlow.commands.PinnedQuestion"
            name="Pinned Question">
      </command>
      <command
            categoryId="StackOverFlow.commands.StackOverFlowCategory"
            id="StackOverFlow.commands.HistoryCommand"
            name="History">
      </command>
      <command
            categoryId="StackOverFlow.commands.StackOverFlowCategory"
            id="StackOverFlow.commands.settingCommand"
            name="Setting">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="stackoverflow.handlers.SearchHandler"
            commandId="StackOverFlow.commands.SearchCommand">
      </handler>
      <handler
            class="stackoverflow.handlers.OfflineHandler"
            commandId="StackOverFlow.commands.OfflineCommand">
      </handler>
      <handler
            class="stackoverflow.handlers.FavoriteHandler"
            commandId="StackOverFlow.commands.FavoriteCommand">
      </handler>
      <handler
            class="stackoverflow.handlers.HistoryHandler"
            commandId="StackOverFlow.commands.HistoryCommand">
      </handler>
      <handler
            class="stackoverflow.handlers.SettingHanlers"
            commandId="StackOverFlow.commands.settingCommand">
      </handler>
      <handler
            class="stackoverflow.handlers.PinnedQuestion"
            commandId="StackOverFlow.commands.PinnedQuestion">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="StackOverFlow.commands.SearchCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+Q">
      </key>
      <key
            commandId="StackOverFlow.commands.FavoriteCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="StackOverFlow.commands.OfflineCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="StackOverFlow.commands.PinnedQuestion"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="StackOverFlow.commands.HistoryCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="StackOverFlow.commands.settingCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+O">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlow"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.SearchCommand"
                  icon="images/stackoverflow16px.png"
                  id="StackOverFlow.menus.SearchCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.SearchToolbar">
            <command
                  commandId="StackOverFlow.commands.SearchCommand"
                  icon="images/stackoverflow16px.png"
                  id="StackOverFlow.toolbars.SearchCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlowMenu"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.FavoriteCommand"
                  icon="images/star16px.png"
                  id="StackOverFlow.menus.FavoriteCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.FavoriteToolbar">
            <command
                  commandId="StackOverFlow.commands.FavoriteCommand"
                  icon="images/star16px.png"
                  id="StackOverFlow.toolbars.FavoriteCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.OfflineToolbar">
            <command
                  commandId="StackOverFlow.commands.OfflineCommand"
                  icon="images/pc-screen16px.png"
                  id="StackOverFlow.toolbars.OfflineCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlow"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.OfflineCommand"
                  icon="images/pc-screen16px.png"
                  id="StackOverFlow.menus.OfflineCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
<menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlow"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.PinnedQuestion"
                  icon="images/pin16px.png"
                  id="StackOverFlow.menus.PinnedQuestion"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.PinnedQuestion">
            <command
                  commandId="StackOverFlow.commands.PinnedQuestion"
                  icon="icons/sample.png"
                  id="StackOverFlow.toolbars.PinnedQuestion"
                  tooltip="Pinned Question">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlow"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.HistoryCommand"
                  icon="images/time16px.png"
                  id="StackOverFlow.menus.HistoryCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.HistoryCommand">
            <command
                  commandId="StackOverFlow.commands.HistoryCommand"
                  icon="images/stackoverflow16px.png"
                  id="StackOverFlow.toolbars.HistoryCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="StackOverFlow.menus.StackOverFlowMenu"
               label="StackOverFlow"
               mnemonic="M">
            <command
                  commandId="StackOverFlow.commands.settingCommand"
                  id="StackOverFlow.menus.settingCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StackOverFlow.toolbars.settingToolbar">
            <command
                  commandId="StackOverFlow.commands.settingCommand"
                  icon="icons/sample.png"
                  id="StackOverFlow.toolbars.settingCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.SearchResultView"
            icon="images/stackoverflow16px.png"
            id="stackoverflow.ViewAndDialog.SearchResultView"
            inject="true"
            name="SearchResult">
      </view>
      <category
            id="StackOverFlow"
            name="StackOverFlow Category">
      </category>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.ContentView"
            icon="images/stackoverflow16px.png"
            id="stackoverflow.ViewAndDialog.ContentView"
            inject="true"
            name="Question">
      </view>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.SearchingHistoryView"
            icon="images/time16px.png"
            id="stackoverflow.ViewAndDialog.SearchingHistoryView"
            inject="true"
            name="SearchingHistory">
      </view>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.ViewHistoryView"
            icon="images/time16px.png"
            id="stackoverflow.ViewAndDialog.ViewHistoryView"
            inject="true"
            name="ViewHistory">
      </view>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.FavoriteView"
            icon="images/star16px.png"
            id="stackoverflow.ViewAndDialog.FavoriteView"
            inject="true"
            name="Favorite Question">
      </view>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.OfflineListView"
            icon="images/pc-screen16px.png"
            id="stackoverflow.ViewAndDialog.OfflineListView"
            inject="true"
            name="Offline Storage">
      </view>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.OfflineContentView"
            icon="icons/sample.png"
            id="stackoverflow.ViewAndDialog.OfflineContentView"
            inject="true"
            name="Offline Question">
      </view>
      <view
            category="StackOverFlow"
            class="stackoverflow.ViewAndDialog.PinnedQuestionView"
            icon="icons/sample.png"
            id="stackoverflow.ViewAndDialog.PinnedQuestionView"
            inject="true"
            name="PinnedQuestionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.SearchResultView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.ContentView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <perspectiveExtension
               targetID="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveExtension>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.SearchingHistoryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.ViewHistoryView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.FavoriteView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.OfflineListView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.OfflineContentView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="stackoverflow.ViewAndDialog.PinnedQuestionView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI=
         "popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="StackOverFlow.commands.SearchCommand"
               icon="images/stackoverflow16px.png"
               id="StackOverFlow.menus.popupSearch"
               label="Search from Stack"
               mnemonic="M1+P"
               tooltip="Do something with this project">
         </command>
      </menuContribution>
   </extension>

 
</plugin>
